.main-container{
  display: flex;
  height: 100vh;
}

.main-container .left{
  height: 100%;
  flex: 1;
  background-color: orange;
}

.main-container .right{
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.one{
  flex: 1;
  background-color: seagreen;
}

.two{
  flex: 1;
  background-color: lightyellow;
}

.three{
  flex: 1;
  background-color: mistyrose;
}